################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Translator/Debug
/recursive_decent_calculator/Debug
/recursive_decent_calculator/recursive_decent_calculator/Debug
/recursive_decent_calculator/.vs/recursive_decent_calculator/v16
